body    {
    font-family: 'Noto Sans', sans-serif;
}

.navbar     {
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #81A4FF;
}
.navbar-default .navbar-toggle{
    border: 0px;
}
.navbar-right   {
    padding-top: 10px;
}
.navbar-right a {
    color: #0069FF;
}

.navbar-default .navbar-nav > li > a{
    color: black;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #0069FF;
}


.navbar-right .btn-default   {
    border-color: #0069FF;
    background-color: transparent;
}

header  {
    background-image: url("img/bg-home.jpg");
    background-repeat: no-repeat;
    background-position: top;
    /* height: 600px; */
}

#jumbotron h1  {
    color: white;
    font-size: 62px;
    font-weight: bold;
}

#jumbotron p    {
    font-size: 24px;
    color: #CCDAFF;

}

@media screen and (max-width: 1199px) {
    #jumbotron h1   {
        font-size: 54px;
    }

}
@media screen and (max-width: 999px) {
    #jumbotron h1   {
        font-size: 46px;
    }

}


@media screen and (max-width: 768px)    {

    header  {
        background-color: #0248FF;
        background-image: none;
    }



    .navbar-default .navbar-brand   {
        color: white;
    }


}

@media screen and (max-width: 1050px)   {
        #main-menu  {
            display: none !important;
        }

        .navbar-toggle  {
            display: block;
        }

        .navbar-default {
            background-color: transparent;
            border-color: transparent;
        }

        .navbar-default .navbar-brand   {
            color: white;
        }
}

@media screen and (min-width: 768px) and (max-width: 1050px){

        .navbar-header  {
            width: 100%;
        }
}
